.formBox {
  height: auto;
  width: 600px;
  margin: auto;
  background-color: whitesmoke;
  color: black;
  padding-right: 5px;
  padding-left: 5px;
  border: 2px solid black;
}

button {
  width: 25%;
}

.userInput {
  width: 99%;
}

.submitButton {
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
}
